@page
@model Whisperwood.Pages.ErrorModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Unauthorized Access";
}

<div class="mx-auto my-12 rounded-xl bg-[#eaddc6] px-10 py-20 text-center shadow-xl">
    <h1 class="text-accent4 mb-4 text-4xl font-bold">Unauthorized Access</h1>
    <p class="text-accent3 mb-6 text-2xl">You do not have permission to access this page.</p>
    <a href="/" class="bg-accent3 rounded px-4 py-2 text-white hover:bg-accent4">Return to Homepage</a>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            Toast.fire({
                icon: 'error',
                title: 'You do not have access to view the requested page.'
            });
        });
    </script>
}