@page
@model Whisperwood.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div class="flex min-h-screen justify-center bg-gray-100">
    <h1 class="mb-4 text-center text-3xl font-bold text-blue-600">Welcome to Whisperwood</h1>
</div>


